[Unit]
Description=MQTT Service
After=network.target

[Service]
ExecStart=/home/$USER/venv_firebase/bin/python /home/$USER/sigcap-buddy/rpi_pub.py
Restart=always
RestartSec=60
User=$USER
WorkingDirectory=/home/$USER/sigcap-buddy/
StandardOutput=append:/home/$USER/sigcap-buddy/mqtt_service.out
StandardError=append:/home/$USER/sigcap-buddy/mqtt_service.err

[Install]
WantedBy=multi-user.target
