[Unit]
Description=Speedtest Logger Service
After=network.target

[Service]
ExecStart=/home/$USER/venv_firebase/bin/python /home/$USER/sigcap-buddy/speedtest_logger.py
Restart=always
User=$USER
WorkingDirectory=/home/$USER/sigcap-buddy/
StandardOutput=append:/home/$USER/sigcap-buddy/speedtest_logger.out
StandardError=append:/home/$USER/sigcap-buddy/speedtest_logger.err

[Install]
WantedBy=multi-user.target
